%div#band-images
  = image_tag 'http://static3.wikia.nocookie.net/__cb20130331085455/duranduran/images/thumb/6/6b/Duran_duran_aston_villa_super_cup_poster_mencap_promo.jpg/640px-Duran_duran_aston_villa_super_cup_poster_mencap_promo.jpg'

%div.box
  %p
    the fab five
