<div class="row">
  <div class="small-12 columns small-centered text-center feature">

    <div class="small-8 columns">
      <div class="front">
        <%= image_tag "1_a.png" %>
      </div>

      <div class="back">
        <%= image_tag "1_b.png" %>
      </div>
    </div>

    <div class="small-4 columns">
      <div class="tag">
        <div class="circleBase type1">
          <div class="text">
            <h4>Duran Duran</h4>
            <p>cotton muscle shirt, vintage 70s, never been worn.</p>
            <p>sizes: m</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
