!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = link_to "Hungry Wolf Tshirts", @url
    %h2
      Order Confirmation
    %p
      Thank you #{@name}, your confirmation number is #{@confirmation}

