@import "colors", "overrides", "fonts";

.orbit-slides-container {
  padding: 2em 0 0 10em; }

.orbit-container {
  width: 56em;
  margin-left: auto;
  margin-right: auto;
  padding: 6em 0 0 8em;}

.tshirt_feature {
  height: 35em;
  img { max-width: 100% }
  .tshirt_images {
    .front {
      float: left;
      img {
        width: 20em;
        }}
    .back {
      width: 4em;
      float: left; }}
  .tshirt_info {
    float: left;
    width: 15em;
    height: 15em;
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
    padding: 5em 0 5em 0;
    .circleBase {
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      border-radius: 999px;
      width: 20em;
      height: 20em;
      border: 1px solid $gray;
      background-color: $tealblue;}
    .text { padding: 5em 0 0 0; }}
}


/* Tshirt Index */

.tshirt_form {
  padding: 1em 0 0 0;
  .sizes {
    float: left;
    width: 6em; }
  .tshirt {
    padding: 3em 0 0 0; }
  .tselect {
    width: 5em;
    display: inline-block; }
  .selectors {
    width: 12em;
    float: left; }
  .AddToBasket, #ClearBasket {
    border-radius: .5em;
    border: 1px solid gray }
  .basketbutton {
    padding: 1.3em 0 0 0;
  }
}

.tshirt {
  margin: 1em;
  padding: 1em;
  background: $beige;
 .info {
  margin: 1em;
  padding: 2em 1em 0 1em;
  border: 1px dotted gray; }
}

.allTs {
  .tshirt {
    margin: 1em;
    background: $beige;
   .info {
    margin: 4em 1em 1em 1em;
    font-size: 0.8em;
    border: 1px dotted gray; }
  }
}

.allTs-small {
  .tshirt {
    margin: 1em;
    background: none;
   .info {
    margin: 1em;
    padding: 1em;
    font-size: 0.8em;
    background-color: $beige }
  }
}


/* about */

.about {
  padding: 5em 0 10em 0;
}
