@import "colors", "overrides", "fonts";

.orbit-slides-container {
  padding: 2em 0 0 10em; }

.orbit-container {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0 0 10em;}

.tshirt_feature {
  height: 35em;
  img { max-width: 100% }
  .tshirt_images {
    .front {
      float: left;
      img {
        width: 20em;
        }}
    .back {
      width: 4em;
      float: left; }}
  .tshirt_info {
    float: left;
    width: 15em;
    height: 15em;
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
    padding: 5em 0 5em 0;
    .circleBase {
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      border-radius: 999px;
      width: 20em;
      height: 20em;
      border: 1px solid $gray;}
    .text { padding: 5em 0 0 0; }}
}

/* Tshirt Index */

.tshirt {
  padding: 3em 0 0 0; }

.allTs {
  margin: 1em;
  .info {
  padding: 2em 1em 0 1em; }}

.tselect {
  width: 5em;
  display: inline-block;
}

.AddToBasket, #ClearBasket {
  background-color:$darkgray;
  border-radius: .5em;
}
