@import "colors", "overrides", "fonts";

/* feature */
.orbit-slides-container {
  padding: 2em 0 0 10em; }

.orbit-container {
  width: 56em;
  height: 33em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0 0 8em;
  .orbit-bullets {
    display: none; }
}

.tshirt_feature {
  height: 35em;
  img { max-width: 100% }
  .tshirt_images {
    .front {
      float: left;
      img {
        width: 20em;
        }}
    .back {
      width: 4em;
      float: left; }}
  .tshirt_info {
    float: left;
    width: 15em;
    height: 15em;
    font-weight: 100;
    font-size: 0.8em;
    text-align: center;
    padding: 5em 0 5em 0;
    .circleBase {
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      border-radius: 999px;
      width: 20em;
      height: 20em;
      border: 1px solid $gray;
      background-color: $tealblue;}
    .text {
      padding: 5em 1em 0 1em;
      b { color: #3C3216 }
    }
  }
}

#band-images {
  overflow: hidden;
  height: 24em;
  img {
    width: 100%;
    z-index: 0;
    opacity: 0.55; }
}

.box {
  width: 50%;
  height: 2em;
  opacity: 0.8;
  position: absolute;
  top: 26em;
  p {
    font-family: $brand;
    color: #666666;
    font-size: 3em;
    background-color: $mustard;
    padding: 0 0 0 1em;
  }
}


/* Tshirt Index */

.tshirt_form {
  padding: 1em 0 0 0;
  .sizes {
    float: left;
    width: 6em; }
  .tshirt {
    padding: 3em 0 0 0; }
  .tselect {
    width: 5em;
    display: inline-block; }
  .selectors {
    width: 12em;
    float: left; }
  .AddToBasket, #ClearBasket {
    border-radius: .5em;
    border: 1px solid gray }
  .basketbutton {
    padding: 1.3em 0 0 0;
  }
}

.tshirt {
  margin: 1em;
  padding: 1em;
  background: $beige;
 .info {
  margin: 1em;
  padding: 2em 1em 0 1em;
  border: 1px dotted gray; }
}

.allTs {
  .tshirt {
    margin: 1em;
    background: $beige;
   .info {
    margin: 4em 1em 1em 1em;
    font-size: 0.8em;
    border: 1px dotted gray; }
  }
}

.allTs-small {
  .tshirt {
    margin: 1em;
    background: none;
   .info {
    margin: 1em;
    padding: 1em;
    font-size: 0.8em;
    background-color: $beige }
  }
}


/* about */
.about {
  padding: 5em 0 10em 0;
}

