<div class="row footer">
  <div class="small-6 columns text-left">
    © 2013 HungryWolfTShirts Inc.
  </div>

  <div class="small-6 columns text-right">
    Built by <a href="http://chaeokeefe.com">Chae O'Keefe</a>
  </div>
</div>
