<div class="row navbar">
  <ul class="sub-nav">
<!--     <li><a href="#">Inventory</a></li> -->
    <li><%= link_to "About", about_path, remote: true, id: "about" %></li>
<!--     <li><a href="#">Basket</a></li> -->
  </ul>
</div>
