.row.navbar
  %ul.sub-nav
    %li= link_to "Inventory", tshirts_path, remote: true, id: "inventory"
    %li= link_to "About", about_path, remote: true, id: "about"
    %li= link_to "Basket", basket_path, remote: true, id: "basket"
