<div class="row navbar">
  <ul class="sub-nav">
    <li><%= link_to "Inventory", tshirts_path, id: "inventory" %></li>
    <li><%= link_to "About", about_path, remote: true, id: "about" %></li>
  </ul>
</div>
